@{

    var mProjectNumber = Request.QueryString.Get("projectId");
    if (mProjectNumber == null) { mProjectNumber = "100000000"; }

    var db = Database.Open("computerscienceprojectportal");
    var selectQueryString = "select * from computerscienceprojectportal.computerscienceprojectportal.PROJECT WHERE ProjectNumber = " + mProjectNumber;
}


<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Required meta tags -->
	<meta name="description" content="WebDev">
	<meta name="keywords" content="Computer Science Project Portal">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8">

	<title>Computer Science Project Portal</title>

	<!-- Bootstrap css -->
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


	<!-- Custom CSS  - put last to override bootstrap where needed-->
	<link rel="stylesheet" href="CSPPstylesheet.css">

	<script src="jquery-3.3.1.js"></script>
	<script src="CSPPjavascript.js"></script>
	<script src="CSPPJQuery.js"></script>

</head>
<body>
	<header class ="header-banner">

			<!-- DOM innerHTML navigation bar -->
			<div id="universal-navbar"></div>
		<!-- DOM innerHTML logo text -->
		<div id="universal-header"></div>



	</header>
  <main>
    <div class="container container-serach">
      <div id="imgRowHomePage" class="row">
        <h1 class="pageintroduction">Project Lists</h1>
      </div>
      <div id="MainProjectsList">
        @foreach(var row in db.Query(selectQueryString)){
          <div  class="row search-box">
              <div class="btn-list">
                <form class="btn-list-form action="" method="post">
                  <input class="btn btn-secondary btn-list" name="ProjectNumberRemove=@row.ProjectNumber" type="submit" value="Remove" />
                </form>
                <form class="btn-list-form action="" method="post">
                  <input class="btn btn-secondary btn-list" name="ProjectNumberView=@row.ProjectNumber" type="submit" value="View" />
                </form>
              </div>
            <div class="list-display">
              <label for="projectName" class ="listLabel">Project Number: </label>@row.ProjectNumber <br>
              <label for="projectName" class ="listLabel">Project Name: </label>@row.ProjectName <br>
              <label for="projectName" class ="listLabel">Project Description:</label>@row.ProjectDescription <br>
              <label for="projectName" class ="listLabel">Authors:</label> @row.Authors  <br>
              <label for="projectName" class ="listLabel">UploadDate: </label>@row.UploadDate <br>
              <label for="projectName" class ="listLabel">ProjectTag1:</label> @row.ProjectTag1<br>
              <hr>
            </div>
          </div>
        }
        <div>
        </div>
      </div>

    </main>

    <footer class="footer-bg">
      <!-- DOM innerHTML footer -->
      <div id="universal-footer"></div>
    </footer>
  </body>
  </html>
