@{
    
    var mProjectNumber = Request.QueryString.Get("projectId");
    if (mProjectNumber == null) { mProjectNumber = "100000000"; }

    var db = Database.Open("computerscienceprojectportal");
    var selectQueryString = "select * from computerscienceprojectportal.computerscienceprojectportal.PROJECT WHERE ProjectNumber = " + mProjectNumber;


}


<!DOCTYPE html>
<html lang="en">
<head>



    <!-- Required meta tags -->
    <meta name="description" content="WebDev">
    <meta name="keywords" content="Computer Science Project Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Computer Science Project Portal</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Custom CSS  - put last to override bootstrap where needed-->
    <link rel="stylesheet" href="CSPPstylesheet.css">

    <script src="jquery-3.3.1.js"></script>
    <script src="CSPPjavascript.js"></script>
    <script src="CSPPJQuery.js"></script>



</head>
<body>
    <header>
        <!-- DOM innerHTML logo text -->
        <div id="universal-header"></div>

        <!-- DOM innerHTML navigation bar -->
        <div id="universal-navbar"></div>
    </header>

    <main>
        <div class="container">
            <div id="imgRowHomePage" class="row">
                <h1 class="pageintroduction">View Project by ID</h1>
            </div>
            <div class="row">
                @foreach (var row in db.Query(selectQueryString))
                {

                    <p>
                        Project Numbers: @row.ProjectNumber <br>
                        Project Names: @row.ProjectName <br>
                        Project Descriptions: @row.ProjectDescription <br>
                        Authorss: @row.Authors  <br>
                        UploadDates: @row.UploadDate <br>
                        ProjectTags: @row.ProjectTag1

                    </p>

                }
            </div>
        </div>



    </main>

    <footer>
        <!-- DOM innerHTML footer -->
        <div id="universal-footer"></div>
    </footer>


</body>
</html>